/*cosas que no estan renderizadas en pantallas de resoluciones grandes*/
.social-bar-mobile {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI", sans-serif;
    background: #f9f9f9;
    color: #222;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #fff;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0a61d0;
}

.logo-icon {
    height: 40px;
    width: auto;
    margin-right: 8px;
    vertical-align: middle;
}

.actions {
    display: flex;
    gap: 10px;
}

.user-icon img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 5px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    white-space: normal;
    word-break: break-word;
    text-align: center;
    max-width: 200px;
}

.btn-outline {
    border: 1px solid #0a61d0;
    color: #0a61d0;
    background-color: white;
    text-decoration: none;
}

.btn-primary {
    background-color: #0a61d0;
    color: white;
    text-decoration: none;
}

.subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 20px;
    padding: 8px 40px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}

.subnav a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 8px 12px;
}

/*-------------------- css para la sección 1 -----------------------------*/

.innovacion-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    background: #fff;
    flex-wrap: wrap;
}

.columna {
    flex: 1;
    min-width: 280px;
}

.texto h1 {
    color: #0f62fe;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.texto p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.botones {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.imagen img {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
}

/*-------------------------------- css para noticias -----------------------*/
.columna.noticias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.noticias h3 {
    color: #444;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.noticias ul {
    list-style: none;
    padding: 0;
}

.noticias li {
    margin-bottom: 1rem;
}

.noticias a {
    color: #0f62fe;
    text-decoration: none;
    font-size: 0.95rem;
}

#lista-noticias {
    flex: 1;
}

.lista-noticias li {
    border-bottom: 1px solid #8f8f8f;
    /* línea gris */
    padding: 10px 0;
}

.lista-noticias li:last-child {
    border-bottom: none;
    /* Quita la línea del último solo que esto no parece trabajar bien de momento */
}

.lista-noticias a {
    text-decoration: none;
    color: #0052cc;
    font-weight: 500;
    transition: color 0.3s;
}

.lista-noticias a:hover {
    color: #003d99;
}

.paginacion {
    margin-top: auto;
    padding-top: 1rem;
    margin-top: 160px;
}

.paginacion a {
    margin: 0 5px;
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.paginacion a.activo {
    font-weight: bold;
    text-decoration: underline;
}

/*--------------- css para la seccion 2 ---------------*/

.objetivos {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.objetivos h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    max-width: 250px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1rem;
    margin: 10px 0;
}

.card p {
    font-size: 0.9rem;
    color: #555;
}

.info-button {
    margin-top: 40px;
}

.info-button button {
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    background-color: #3367d6;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-button button:hover {
    background-color: #274c9b;
}

/*------------------------ css para la seccion 3 --------------------------------------*/

.potencial {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #fff;
}

.potencial h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    color: #111;
}

.potencial h2 span {
    color: #1a73e8;
}

.bloque {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.bloque .imagen {
    flex: 1 1 80px;
    text-align: center;
}

.bloque .imagen img {
    max-width: 50%;
    height: auto;
    border-radius: 16px;
    background-color: transparent;
}

.bloque .texto {
    flex: 2 1 400px;
}

.bloque .texto h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #222;
}

.bloque .texto p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

/*------------------------ css para la seccion 4 --------------------------------------*/

.ayuda {
    background-color: #f8fbfd;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    margin: 60px auto;
    max-width: 800px;
}

.ayuda h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.ayuda p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.btn-contacto {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e8f0fe;
    color: #1a73e8;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
}

/* Preguntas frecuentes */
.faq {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}

.faq h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.expandir-todo {
    float: right;
    margin-bottom: 10px;
    background: none;
    border: none;
    color: #1a73e8;
    cursor: pointer;
    font-weight: bold;
}

.acordeon .item {
    border-top: 1px solid #ddd;
}

.pregunta {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    color: #1a73e8;
}

.respuesta {
    padding: 0 15px 15px;
    display: none;
    color: #333;
    font-size: 15px;
}

/*---------------------------Animaciones para los botones-----------------------------*/
/*estos son botones / iconos del tope de pagina*/
/* Logo, se hace mas grande*/
.logo:hover {
    color: #094bb0;
    cursor: pointer;
}

/* Imagen del logo se hace mas grande*/
.logo-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/*el contorno del boton cambia de color*/
.btn-outline:hover {
    background-color: #0a61d0;
    color: white;
    transition: 0.3s ease;
}

/*boton principal cambia de color*/
.btn-primary:hover {
    background-color: #094bb0;
    transition: 0.3s ease;
}

/*Barra de navegacion mas pequeña*/
.subnav a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 6px 12px;
    border-radius: 5px;
}

/*----------------css para los iconos de redes sociales-----------------*/
.subnav .social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
    padding-right: 10px;
}

/* contenedor circular para que no se vea feo */
.subnav .circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* imagen recortada */
.subnav .circle-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* efecto hover sencillo para los iconos */
.subnav .social-icons img:hover {
    transform: scale(1.1);
}

/*-----------Efecto hover para la barrra de navegacion pequeña----------------*/
.subnav a:hover {
    background-color: #e0eaff;
    color: #0a61d0;
    font-weight: 600;
}

/*cambia la fuente según que pagina este activa */
.subnav a.active {
    color: #0a61d0;
    font-weight: 700;
    text-decoration: underline;
}

main {
    flex: 1;
}

.section-title {
    padding: 40px 40px 10px;
    font-size: 3rem;
    color: #0a61d0;
    border-bottom: 2px solid #0a61d0;
    width: fit-content;
}

.section-subtitle {
    padding: 10px 40px;
    font-size: 1.2rem;
}

footer {
    background-color: #004393;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div {
    margin-bottom: 10px;
}

footer small {
    display: block;
    font-size: 0.8rem;
}

/*css para la vista de mobile*/

/*el menu de hamburguesa estara oculto por defecto*/
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 40px;
    text-align: right;
    margin-left: auto;
}

/*--------------------------------Resuluciones pequeñas-----------------------------------*/
@media (max-width: 700px) {

    .actions {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    .botones {
        margin-top: 4rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn {
        width: 100%;
    }

    /*esto hace que se oculte el subnav y salga el menu hamburguesa*/
    .subnav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding: 1px 10px;
        background-color: #f1f1f1;
    }

    .subnav .social-icons {
        display: none;
    }

    .hamburger {
        display: flex;
        font-size: 1.8rem;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: auto;
        padding: 8px;
        color: #0a61d0;
        justify-content: left;
    }

    .subnav.show {
        display: flex;
    }

    /*barra de iconos de redes sociales que renderizan en pantallas pequeñas*/
    .social-bar-mobile {
        display: flex;
        background-color: white;
        justify-content: flex-end;
        padding: 5px 20px;
        gap: 15px;
        width: 100%;
    }

    /*----------------css para los iconos de redes sociales MOBILE-----------------*/
    .social-bar-mobile .social-icons {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
    }

    /*css para el icono mobile de usuario*/
    .user-icon-mobile img {
        display: flex;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        align-items: center;
        gap: 10px;
    }

    /* contenedor circular para que no se vea feo */
    .social-bar-mobile .circle-icon-mobile {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* imagen recortada */
    .social-bar-mobile .circle-icon-mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    /* efecto hover sencillo para los iconos */
    .social-bar-mobile .social-icons img:hover {
        transform: scale(1.1);
    }

    /*----------------cosas que no renderizan en MOBILE-----------------*/
    .actions {
        display: none;
    }

    .imagen img {
        display: none;
    }

    .noticias {
        display: none;
    }

    .columna.noticias {
        display: none;
    }
}